body {
  font-family: 'Raleway' !important;
}

/*** Navigation ***/
#my-nav {
    width: 100%;
    font-size: 18px;
    display: flex;
    position: absolute;
    z-index: 1;
    background: rgba(255,255,255,0.8);
}

    #my-nav > .nav-items {
      display: flex;
      width: 100%;
      list-style: none;
      margin: 0;
      justify-content: space-evenly;
      align-items: center;
      background: none;
    }

        #my-nav > .nav-items > li {
          flex: 1;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

            #my-nav > .nav-items > li.active {
                background-color: #57BBBF;
            }

    #my-nav a {
        transition: all .4s;
        border-bottom: none;
        text-decoration: none;
    }

        #my-nav a:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #57BBBF;
            transition: width .3s;
        }

            #my-nav a:hover:after {
                width: 100%;
            }

#jumbotron {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #jumbotron p {
        font-size: 30px;
    }

    #jumbotron h1 {
        font-size: 140px;
        margin: 0;
    }

    #jumbotron > #jumbotron-text {
        background: rgba(255, 255, 255, 0.5);
        padding: 40px;
    }

img#banner-img {
    width: 100%;
}

#categories-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: 30px auto;
}

    #categories-section > .category{
        width: 265px;
        height: 375px;
        background: rgba(255, 255, 255, 0.6);
        text-align: center;
    }

        #categories-section .category img {
            width: 100%;
        }

/*** Footer ***/
#my-footer {
    background-color: #57BBBF;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #my-footer > #social-media-buttons {
        font-size: 28px;
    }

        #my-footer > #social-media-buttons > a {
            color: black;
        }
